/ml_ws/image_retraining/building_photos/
/ml_ws/keras_retraining/building_photos/
/test_image
/ml_ws/env/
/ml_ws/model/
/ml_ws/uploads
/ml_ws/legacy_model/
/ml_ws/__pycache__/
/ml_ws/test_image/
/app/.idea/
/npm-debug.log