.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-image: url("./header.jpg");
    /* Full height */
    height: 200px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.App-title {
  font-size: 1.5em;
    color: #000000;
}


.App-intro {
  font-size: large;
}

.spacer {
    height:40px;
    height:40px;
}
.spacerSmall {
    height:20px;
}
.spacerTiny {
    height:5px;
}

.fileDropZone {
    background-color:#ffffff!important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
