.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-image: url("./header.jpg");
    /* Full height */
    height: 200px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Navbar{
  border-radius: 5px;
  background-color: #f8f9fa!important;
  padding-right: 1rem!important;
  font-weight: 300;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

}

.App-footer {
    /* Full height */
    flex-shrink: 0;
    /* Center and scale the image nicely */
    background-color: #f8f9fa!important;
    bottom: 0;
    color: rgba(4, 2, 2, 0.6);
    border-radius:15px 15px 0px 0px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    margin-top: 1.5rem;
    padding-top: 1.5rem;
}

.Contact{
    text-align: center;
    padding-bottom: 1.2rem;
}

.Version{
    overflow: hidden;
    background-color: rgba(0,0,0,.1);
    font-size: .9rem;
    color: rgba(4, 2, 2, 0.6);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-align: center;
}

body {
  display: flex;
  flex-direction: column;
}


.bodyContainer{
  flex: 1 0 auto;
}

.App-title {
  font-size: 1.5em;
    color: #000000;
}


.App-intro {
  font-size: large;
}

.result-close{
   margin-right: 10px;
   margin-top: 5px;

}

.spacer {
    height:40px;
    height:40px;
}
.spacerSmall {
    height:20px;
}
.spacerTiny {
    height:5px;
}

.radius{
  border-radius:5px;
}

.radiusLarge{
  border-radius:15px;
}

.shadow{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}




.fileDropZone {
    background-color:#ffffff!important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
